@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

body {
    background-color: #F3F5FC;
}

main {
    width: 100vw;
    height: 100vh;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
}
 
.conteudo-esquerda {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 1.5%;
    display: flex;
    flex-direction: column;
}

.texto {
    width: 50vw;
    height: 100%;
    font-size: 25px;
    font-weight: 400;
    background-color: #F3F5FC;
    color: #0A3871;
    resize: none;
    border: none;
    outline: none;
}

.texto::placeholder {
    color: #0a3871e7;
}

.texto::-webkit-scrollbar {
    width: 8px;
}

.texto::-webkit-scrollbar-thumb {
    background-color: #0A3871;
    border-radius: 25px;
    cursor: pointer;
}

.texto::-webkit-scrollbar-track {
    background-color: #F3F5FC;
}

.conteudo-esquerda .final {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
}

.regras {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: default;
    
}

.regras img {
    width: 20px;
    margin-left: 4px;
}

.regras p {
    font-size: 15px;
    color: #574949;
    transition: 0.5s;
}

.conteudo-esquerda .botoes {
    display: flex;
    gap: 15px;

}

.conteudo-esquerda .botoes button {
    width: 100%;
    padding: 18px;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
}

.cript{
    background-color: #0A3871;
    color: #ffffff;
    border: none;
}

.cript:hover {
    background-color: #0f50a0;
}

.descript {
    border: 1.5px #0A3871 solid;
    background-color: #D8DFE8;
    color: #0A3871
}

.descript:hover {
    border: 1.5px #0e4a92 solid;
    background-color: #cfd4db;
}

.conteudo-direita {
    width: 25%;
    margin: 2%;
    padding: 1.3% 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 8px #00000048;
    overflow-y: auto;
    word-wrap: break-word;
}

.conteudo-direita::-webkit-scrollbar {
    width: 8px;
}

.conteudo-direita::-webkit-scrollbar-thumb {
    background-color: #0A3871;
    border-radius: 25px;
    cursor: pointer;
}

.conteudo-direita::-webkit-scrollbar-track {
    background-color: transparent;
}

.texto_criptografado {
    display: none;
    width: 100%;
    font-size: 20px;
    color: #0A3871;
    margin-bottom: 15%;
}

.conteudo-direita-itens {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 35%;
}

.conteudo-direita img {
    width: 70%;
}

.mensagens {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    text-align: center;
    cursor: default;
}

.mensagens h2 {
    font-size: 23px;
    font-weight: 500;
}

.mensagens p {
    font-size: 15px;
}

.copiar {
    display: none;
    width: 100%;
    padding: 18px 0;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
    border: 1.5px #0A3871 solid;
    background-color: #ffffff;
    color: #0A3871;
}

.copiar:hover {
    border: 1.5px #0e4a92 solid;
    background-color: #e7ecf1;
}